 <div class="container header"><p class="title">GMB AngularJS Challenge</p>
 <nav style="width:100%!important;"class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
             <li><a ng-click="navigateTo('/homePage')" id="home" href="javascript:;">Home</a></li>
             <li><a ng-click="navigateTo('/searchPage')" id="addItem"href="javascript:;">Add Item</a></li>
      </ul>
      </div>
      </div>
 </nav>
 </div>
 