<div style="margin-top:30px!important;" class="mainWrapper">
		<div class="container homeWrapper">
          <div class="searchFood fullWidth">
          <label class="item item-input fullWidth"><input
				class="widthClass" type="text" placeholder="Search Food" ng-model="searchInput">
		</label>
		</div>
		
		
		
		<div class="table-responsive tabel">          
  <table class="table">
    <thead>
      <tr>
        <th ng-repeat="key in keys">{{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="getDetailsForProduct(product.item_id)" ng-repeat="product in testProducts  | foodFilter : searchInput track by $index">
        <td>{{product.item_name}}</td>
        <td>{{product.brand_name}}</td>
        <td>{{product.noCalories}}</td>
        <td>{{product.noProteins}}</td>
        
      </tr>
    </tbody>
  </table>
  </div>
  
  	<div class="buttonDiv"><button ng-click="goToSearchPage()" class="button"><p>Add Item</p></button></div>
  
  
          </div>
          
          
        </div>
 